# Project Specific
build/

.idea/
__pycache__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# For projects that use the Waf build system: https://waf.io/
.waf*-*.*
waf*-*.* # Windows
.lock-waf_*_build
